* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: #054E70;
  color: #ffffff;
}

body {
  font-family: "Shippori Mincho", serif;
  font-size: 1.6rem;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  transition: 0.5s ease;
}
a:hover {
  opacity: 0.8;
}

li {
  list-style: none;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  max-width: 1024px;
  margin-inline: auto;
  padding-inline: 15px;
}

.wrapper {
  max-width: 768px;
  margin-inline: auto;
  padding-inline: 15px;
}

.small {
  font-size: 1.2rem;
}

.section-title {
  font-size: 3.2rem;
  color: #BC9973;
  margin-bottom: 48px;
}
@media (max-width: 430px) {
  .section-title {
    font-size: 2.4rem;
    margin-bottom: 40px;
  }
}

h3 {
  font-size: 2.4rem;
  color: #BC9973;
}
@media (max-width: 430px) {
  h3 {
    font-size: 2rem;
  }
}

.sns {
  margin-top: 16px;
}
.sns .instagram {
  width: 25px;
}
.sns .instagram img {
  vertical-align: bottom;
}

.no-scroll {
  overflow: hidden;
}

.fadein {
  transform: translateY(50px);
  opacity: 0;
  transition: 1.5s ease;
}
.fadein.active {
  opacity: 1;
  transform: translateY(0);
}

header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 16px;
  left: 0;
  right: 0;
  padding-inline: 15px;
  z-index: 1000;
}
@media (max-width: 900px) {
  header {
    width: 200px;
    left: auto;
    right: 0;
  }
}
header .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  padding-inline: 32px;
}
header .container .logo {
  width: 60px;
  line-height: 0;
}
@media (max-width: 900px) {
  header .container .logo {
    display: none;
  }
}
header .container .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 900px) {
  header .container .menu {
    flex-direction: column;
    margin-left: auto;
  }
}
header .container .menu nav {
  margin-right: 16px;
}
@media (max-width: 900px) {
  header .container .menu nav {
    z-index: 1100;
    display: none;
  }
}
header .container .menu nav ul {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 900px) {
  header .container .menu nav ul {
    text-align: center;
    flex-direction: column;
  }
}
header .container .menu nav ul li {
  margin-right: 16px;
}
@media (max-width: 900px) {
  header .container .menu nav ul li {
    margin-right: 0;
    margin-bottom: 24px;
  }
}
header .container .menu nav ul li:last-child {
  margin-right: 0;
}
header .container .menu nav ul li a:hover {
  color: #054E70;
}
@media (max-width: 900px) {
  header .container .menu nav ul li a:hover {
    opacity: 0.5;
  }
}
@media (max-width: 900px) {
  header .container .menu nav ul li a {
    color: #054E70;
  }
}
header .container .menu .header-sns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .menu .header-sns li {
  width: 20px;
  line-height: 0;
  transition: 0.3s ease;
  margin-right: 16px;
}
header .container .menu .header-sns li:last-child {
  margin-right: 0;
}
header .container .menu .header-sns li:hover {
  opacity: 0.5;
}
header .container .menu .header-sns .tb-instagram,
header .container .menu .header-sns .tb-tel {
  display: none;
}
header .container .menu .nav-logo {
  width: 80%;
  display: none;
  margin-top: 24px;
  margin-inline: auto;
}
header .container .toggle {
  width: 30px;
  height: 40px;
  display: none;
  cursor: pointer;
  position: relative;
  z-index: 1100;
}
@media (max-width: 900px) {
  header .container .toggle {
    display: block;
  }
}
header .container .toggle:hover span:nth-child(1) {
  width: 100%;
}
header .container .toggle:hover span:nth-child(2) {
  width: 100%;
}
header .container .toggle span {
  height: 1px;
  border-radius: 1px;
  background-color: #ffffff;
  transition: 0.3s ease;
  position: absolute;
}
header .container .toggle span:nth-child(1) {
  width: 15px;
  top: 30%;
  right: 0;
  animation: toggle-bar-01 0.75s forwards;
}
header .container .toggle span:nth-child(2) {
  width: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  opacity: 1;
}
header .container .toggle span:nth-child(3) {
  width: 100%;
  right: 0;
  top: 70%;
  animation: toggle-bar-03 0.75s forwards;
}
header .container .mask {
  width: 350px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 30px;
  position: absolute;
  top: 5%;
  right: 5%;
  display: none;
  z-index: 1050;
}
@media (max-width: 430px) {
  header .container .mask {
    width: 200px;
    height: 400px;
  }
}
header.active .menu {
  width: 350px;
  position: fixed;
  top: 10%;
  right: 2%;
  z-index: 1100;
}
@media (max-width: 430px) {
  header.active .menu {
    width: 200px;
  }
}
header.active .menu nav {
  display: block;
}
@media (max-width: 900px) {
  header.active .menu nav {
    margin-right: 0;
  }
}
@media (max-width: 900px) {
  header.active .menu .header-sns .instagram,
  header.active .menu .header-sns .tel {
    display: none;
  }
}
header.active .menu .header-sns .tb-instagram,
header.active .menu .header-sns .tb-tel {
  display: block;
}
header.active .menu .nav-logo {
  display: block;
}
header.active .toggle {
  position: absolute;
  top: 30%;
  right: 20%;
}
header.active .toggle:hover span {
  opacity: 0.5;
}
header.active .toggle span {
  background-color: #054E70;
}
header.active .toggle span:nth-child(1) {
  width: 100%;
  animation: active-bar-01 0.75s forwards;
}
header.active .toggle span:nth-child(2) {
  opacity: 0;
}
header.active .toggle span:nth-child(3) {
  animation: active-bar-03 0.75s forwards;
}
header.active .mask {
  display: block;
}

@keyframes toggle-bar-01 {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0);
    top: 50%;
  }
  100% {
    transform: rotate(0);
    top: 30%;
  }
}
@keyframes toggle-bar-03 {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(0);
    top: 50%;
  }
  100% {
    transform: rotate(0);
    top: 70%;
  }
}
@keyframes active-bar-01 {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(0);
    top: 50%;
  }
  100% {
    transform: rotate(45deg);
    top: 50%;
  }
}
@keyframes active-bar-03 {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(0);
    top: 50%;
  }
  100% {
    transform: rotate(-45deg);
    top: 50%;
  }
}
footer .footer-top {
  background-image: url(/img/mainvisual.jpg);
  background-size: cover;
  position: relative;
  padding-top: 280px;
  padding-bottom: 48px;
}
@media (max-width: 600px) {
  footer .footer-top {
    padding-top: 200px;
  }
}
footer .footer-top .logo {
  width: 500px;
  position: absolute;
  top: 0;
  left: 200px;
  z-index: 5;
}
@media (max-width: 1270px) {
  footer .footer-top .logo {
    left: 100px;
  }
}
@media (max-width: 900px) {
  footer .footer-top .logo {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 600px) {
  footer .footer-top .logo {
    width: 350px;
  }
}
footer .footer-top nav {
  position: relative;
  z-index: 10;
  margin-left: 24px;
  margin-bottom: 16px;
}
footer .footer-top nav ul li:hover a {
  color: #BC9973;
}
footer .footer-top .sns {
  margin-left: 24px;
  margin-bottom: 16px;
}
footer .footer-top .attention {
  margin-left: 24px;
  color: #B3B3B3;
}
footer .footer-bottom {
  text-align: center;
  padding-block: 24px;
}

#access {
  text-align: center;
  margin-bottom: 96px;
  padding-top: 96px;
}
@media (max-width: 900px) {
  #access {
    padding-top: 48px;
  }
}
@media (max-width: 430px) {
  #access {
    margin-bottom: 48px;
  }
}
#access iframe {
  width: 100%;
  box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.25);
  margin-top: 48px;
}
@media (max-width: 430px) {
  #access iframe {
    height: 200px;
    margin-top: 32px;
  }
}

.mainvisual {
  height: 100vh;
  background-image: url(/img/mainvisual.jpg);
  background-size: cover;
  background-position: 40% center;
  margin-bottom: 96px;
}
@media (max-width: 900px) {
  .mainvisual {
    height: 50vh;
  }
}
@media (max-width: 430px) {
  .mainvisual {
    margin-bottom: 48px;
  }
}
.mainvisual .container {
  height: 100%;
  text-align: center;
  position: relative;
}
.mainvisual .container img {
  width: 650px;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateX(-50%) translateY(-50%);
}
@media (max-width: 1270px) {
  .mainvisual .container img {
    width: 630px;
    left: 35%;
  }
}
@media (max-width: 900px) {
  .mainvisual .container img {
    width: 350px;
    left: 30%;
  }
}
@media (max-width: 600px) {
  .mainvisual .container img {
    left: 50%;
  }
}
@media (max-width: 430px) {
  .mainvisual .container img {
    width: 270px;
  }
}
.mainvisual .container .fv-1 {
  opacity: 0;
  animation: fadeUp-fv1 2.5s ease forwards;
}
.mainvisual .container .fv-2 {
  opacity: 0;
  clip-path: inset(0 100% 0 0);
  transition: clip-path 2s cubic-bezier(0.37, 0, 0.63, 1), opacity 0.6s ease;
}
.mainvisual .container .fv-2.is-show {
  opacity: 1;
  clip-path: inset(0 0 0 0);
}
.mainvisual .container .fv-name-en {
  font-size: 3.2rem;
  filter: blur(0.7px);
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translateX(-50%);
}
@media (max-width: 1270px) {
  .mainvisual .container .fv-name-en {
    left: 35%;
  }
}
@media (max-width: 900px) {
  .mainvisual .container .fv-name-en {
    font-size: 2rem;
    filter: blur(0.3px);
    top: 35%;
    left: 30%;
  }
}
@media (max-width: 600px) {
  .mainvisual .container .fv-name-en {
    top: 39%;
    left: 50%;
  }
}
@media (max-width: 430px) {
  .mainvisual .container .fv-name-en {
    font-size: 1.6rem;
    filter: blur(0px);
  }
}
.mainvisual .container .fv-name-en span {
  display: inline-block;
  opacity: 0;
  animation: fadeUp 1s ease forwards;
}
.mainvisual .container .open {
  font-size: 1.6rem;
  filter: blur(0.5px);
  position: absolute;
  top: 65%;
  left: 18%;
}
@media (max-width: 1270px) {
  .mainvisual .container .open {
    left: 28%;
  }
}
@media (max-width: 900px) {
  .mainvisual .container .open {
    font-size: 1.4rem;
    filter: blur(0px);
    top: 70%;
    left: 21%;
  }
}
@media (max-width: 600px) {
  .mainvisual .container .open {
    top: 67%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 430px) {
  .mainvisual .container .open {
    font-size: 1.2rem;
  }
}
.mainvisual .scrollbar_box {
  position: absolute;
  left: 20px;
  bottom: 10px;
}
@media (max-width: 900px) {
  .mainvisual .scrollbar_box {
    display: none;
  }
}
.mainvisual .scrollbar_box .scrollbar-text {
  display: inline-block;
  color: #ffffff;
  font-size: 1.2rem;
  writing-mode: vertical-lr;
  transform: translateX(-40%);
  padding: 10px 10px 50px;
}
.mainvisual .scrollbar_box .scrollbar::after {
  width: 0.5px;
  height: 50px;
  content: "";
  background: #ffffff;
  position: absolute;
  left: 3px;
  bottom: 0;
}
.mainvisual .scrollbar_box .scrollbar::before {
  width: 8px;
  height: 8px;
  content: "";
  position: absolute;
  left: -1px;
  bottom: 0;
  border-radius: 50%;
  background: #ffffff;
  animation: circlemove 3s ease-in-out infinite, cirlemovehide 3s ease-out infinite;
}

@keyframes fadeUp {
  to {
    opacity: 1;
  }
}
@keyframes fadeUp-fv1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes circlemove {
  0% {
    bottom: 45px;
  }
  100% {
    bottom: 0px;
  }
}
@keyframes cirlemovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
#info {
  text-align: center;
  padding-inline: 15px;
  margin-bottom: 48px;
}
#info .wrapper {
  border: 1px solid #BC9973;
  border-radius: 30px;
  box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.25);
  padding-block: 34px;
}
#info .wrapper .info-block {
  margin-bottom: 32px;
}
#info .wrapper .info-block:last-child {
  margin-bottom: 0;
}
#info .wrapper .info-block h3 {
  font-size: 1.8rem;
  margin-bottom: 16px;
}
@media (max-width: 600px) {
  #info .wrapper .info-block h3 {
    margin-bottom: 8px;
  }
}
#info .wrapper .info-block p span {
  display: inline-block;
  color: #BC9973;
}

#page-link {
  text-align: center;
  margin-bottom: 96px;
}
@media (max-width: 600px) {
  #page-link {
    margin-bottom: 28px;
  }
}
#page-link .wrapper a {
  width: 200px;
  border: 1px solid #BC9973;
  border-radius: 10px;
  box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.25);
  margin-right: 30px;
  padding: 5px;
}
#page-link .wrapper a:last-child {
  margin-right: 0;
}
@media (max-width: 600px) {
  #page-link .wrapper a {
    margin-bottom: 20px;
    margin-right: 0;
  }
}
#page-link .wrapper a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 430px) {
  #gallery {
    margin-bottom: 48px;
  }
}
#gallery .list-top,
#gallery .list-bottom {
  display: flex;
  justify-content: space-between;
}
#gallery .list-top .item,
#gallery .list-bottom .item {
  overflow: hidden;
  box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.25);
}
#gallery .list-top .item:hover img,
#gallery .list-bottom .item:hover img {
  transform: scale(1.05);
  filter: brightness(100%);
}
#gallery .list-top .item img,
#gallery .list-bottom .item img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(70%);
  transition: 0.3s ease;
}

#menu {
  padding-top: 100px;
}
#menu .container {
  text-align: center;
  position: relative;
  padding-block: 48px;
}
#menu .container .frame-1,
#menu .container .frame-2,
#menu .container .frame-3,
#menu .container .frame-4 {
  width: 100px;
  position: absolute;
}
#menu .container .frame-1,
#menu .container .frame-2 {
  top: 0;
}
#menu .container .frame-3,
#menu .container .frame-4 {
  bottom: 0;
}
#menu .container .frame-1,
#menu .container .frame-3 {
  left: 0;
}
#menu .container .frame-2,
#menu .container .frame-4 {
  right: 0;
}
#menu .container .frame-1 {
  transform: rotate(180deg);
}
#menu .container .frame-2 {
  transform: rotate(-90deg);
}
#menu .container .frame-3 {
  transform: rotate(90deg);
}
#menu .container h3 {
  position: relative;
  color: #ffffff;
  margin-bottom: 32px;
}
#menu .container h3 span {
  display: inline-block;
  position: absolute;
  top: -13px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  color: #BC9973;
}
#menu .container .system {
  margin-bottom: 96px;
}
@media (max-width: 600px) {
  #menu .container .system {
    margin-bottom: 48px;
  }
}
#menu .container .system .list .item {
  display: flex;
  justify-content: space-between;
}
#menu .container .system .list .item dt {
  width: 70%;
  text-align: left;
}
#menu .container .system .list .item dd {
  width: 30%;
  text-align: right;
}
#menu .container .category {
  display: flex;
  justify-content: space-between;
  margin-bottom: 96px;
}
@media (max-width: 900px) {
  #menu .container .category {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  #menu .container .category {
    margin-bottom: 48px;
  }
}
#menu .container .category:last-child {
  margin-bottom: 0;
}
#menu .container .category .list .item {
  display: flex;
  justify-content: space-between;
}
#menu .container .category .list .item dt {
  width: 70%;
  text-align: left;
}
#menu .container .category .list .item dd {
  width: 30%;
  text-align: right;
}
#menu .container .category .left {
  width: 50%;
  margin-right: 48px;
}
@media (max-width: 900px) {
  #menu .container .category .left {
    width: 100%;
    margin-right: 0;
    margin-bottom: 96px;
  }
}
@media (max-width: 600px) {
  #menu .container .category .left {
    margin-bottom: 48px;
  }
}
#menu .container .category .left h4 {
  text-align: left;
  font-size: 2rem;
}
#menu .container .category .right {
  width: 50%;
}
@media (max-width: 900px) {
  #menu .container .category .right {
    width: 100%;
  }
}

.cast-wanted {
  padding-top: 100px;
  margin-bottom: 96px;
}
@media (max-width: 900px) {
  .cast-wanted {
    margin-bottom: 48px;
  }
}
.cast-wanted .container {
  text-align: center;
  position: relative;
  padding-block: 48px;
}
.cast-wanted .container .frame-1,
.cast-wanted .container .frame-2,
.cast-wanted .container .frame-3,
.cast-wanted .container .frame-4 {
  width: 100px;
  position: absolute;
}
.cast-wanted .container .frame-1,
.cast-wanted .container .frame-2 {
  top: 0;
}
.cast-wanted .container .frame-3,
.cast-wanted .container .frame-4 {
  bottom: 0;
}
.cast-wanted .container .frame-1,
.cast-wanted .container .frame-3 {
  left: 0;
}
.cast-wanted .container .frame-2,
.cast-wanted .container .frame-4 {
  right: 0;
}
.cast-wanted .container .frame-1 {
  transform: rotate(180deg);
}
.cast-wanted .container .frame-2 {
  transform: rotate(-90deg);
}
.cast-wanted .container .frame-3 {
  transform: rotate(90deg);
}
.cast-wanted .container .wrapper .wanted {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  margin-inline: auto;
}
@media (max-width: 900px) {
  .cast-wanted .container .wrapper .wanted {
    width: 90%;
  }
}
@media (max-width: 600px) {
  .cast-wanted .container .wrapper .wanted {
    width: 100%;
  }
}
.cast-wanted .container .wrapper .wanted dt {
  width: 30%;
  margin-bottom: 16px;
}
@media (max-width: 430px) {
  .cast-wanted .container .wrapper .wanted dt {
    width: 35%;
  }
}
.cast-wanted .container .wrapper .wanted dd {
  width: 70%;
  margin-bottom: 16px;
}
@media (max-width: 430px) {
  .cast-wanted .container .wrapper .wanted dd {
    width: 65%;
  }
}
.cast-wanted .container .wrapper .wanted span {
  color: #BC9973;
  display: inline-block;
}

#contact {
  text-align: center;
}
#contact .contact-title {
  margin-bottom: 48px;
}
#contact p {
  margin-bottom: 24px;
}
#contact .address {
  margin-bottom: 24px;
}
#contact iframe {
  width: 100%;
  height: 40vh;
}
@media (max-width: 430px) {
  #contact iframe {
    height: 20vh;
  }
}/*# sourceMappingURL=style.css.map */