// 共通
@use 'partial/_mixin.scss';
@use 'partial/_common.scss';
@use 'partial/_header.scss';
@use 'partial/_footer.scss';
@use 'partial/_access.scss';

// トップセクション
@use 'partial/_mainvisual.scss';
@use 'partial/_info.scss';
@use 'partial/_pagelink.scss';
@use 'partial/_gallery.scss';

@use 'partial/_menu.scss';
@use 'partial/_castwanted.scss';
@use 'partial/_contact.scss';
