@use 'mixin' as m;

.cast-wanted {
  padding-top: 100px;
  margin-bottom: m.$bottom;

  @include m.tb {
    margin-bottom: m.$bottom-sp;
  }

  .container {
    text-align: center;
    position: relative;
    padding-block: m.$bottom-sp;

    .frame-1,
    .frame-2,
    .frame-3,
    .frame-4 {
      width: 100px;
      position: absolute;
    }

    .frame-1,
    .frame-2 {
      top: 0;
    }

    .frame-3,
    .frame-4 {
      bottom: 0;
    }

    .frame-1,
    .frame-3 {
      left: 0;
    }

    .frame-2,
    .frame-4 {
      right: 0;
    }

    .frame-1 {
      transform: rotate(180deg);
    }

    .frame-2 {
      transform: rotate(-90deg);
    }

    .frame-3 {
      transform: rotate(90deg);
    }

    .wrapper {
      .wanted {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        margin-inline: auto;

        @include m.tb {
          width: 90%;
        }

        @include m.tb-sm {
          width: 100%;
        }

        dt {
          width: 30%;
          margin-bottom: 16px;

          @include m.sp {
            width: 35%;
          }
        }
        
        dd {
          width: 70%;
          margin-bottom: 16px;

          @include m.sp {
            width: 65%;
          }
        }

        span {
          color: m.$accent-color;
          display: inline-block;
        }
      }
    }
  }
}