@use "_mixin" as m;

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: m.$base-color;
  color: m.$font-color;
}

body {
  font-family: "Shippori Mincho", serif;
  font-size: 1.6rem;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

a {
  display: inline-block;
  text-decoration: none;
  color: m.$font-color;
  display: inline-block;
  transition: 0.5s ease;

  &:hover {
    // color: m.$accent-color;
    opacity: 0.8;
  }
}

li {
  list-style: none;
}

img {
  width: 100%;
  object-fit: cover;
}

.container {
  max-width: 1024px;
  margin-inline: auto;
  padding-inline: m.$padding;
}

.wrapper {
  max-width: 768px;
  margin-inline: auto;
  padding-inline: m.$padding;
}

.small {
  font-size: 1.2rem;
}

.section-title {
  font-size: 3.2rem;
  color: m.$accent-color;
  margin-bottom: m.$bottom-sp;

  @include m.sp {
    font-size: 2.4rem;
    margin-bottom: 40px;
  }
}

h3 {
  font-size: 2.4rem;
  color: m.$accent-color;

  @include m.sp {
    font-size: 2rem;
  }
}

.sns {
  margin-top: 16px;

  .instagram {
    width: 25px;

    img {
      vertical-align: bottom;
    }
  }
}

// ハンバーガー開いてる時
.no-scroll {
  overflow: hidden;
}

.fadein {
  transform: translateY(50px);
  opacity: 0;
  transition: 1.5s ease;

  &.active {
    opacity: 1;
    transform: translateY(0);
  }
}
