@use "mixin" as m;

#contact {
  text-align: center;

  .contact-title {
    margin-bottom: m.$bottom-sp;
  }

  p {
    margin-bottom: 24px;
  }

  .address {
    margin-bottom: 24px;
  }

  iframe {
    width: 100%;
    height: 40vh;

    @include m.sp {
      height: 20vh;
    }
  }
}
