@use "mixin" as m;

#gallery {

  @include m.sp {
    margin-bottom: m.$bottom-sp;
  }

  .list-top,
  .list-bottom {
    display: flex;
    justify-content: space-between;

    .item {
      overflow: hidden;
      box-shadow: m.$shadow;

      &:hover img {
        transform: scale(1.05);
        filter: brightness(100%);
      }

      img {
        width: 100%;
        height: 100%;
        vertical-align: bottom;
        overflow: hidden;
        object-fit: cover;
        filter: brightness(70%);
        transition: 0.3s ease;
      }
    }
  }
}
