@use "_mixin" as m;

header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 16px;
  left: 0;
  right: 0;
  padding-inline: 15px;
  z-index: 1000;

  @include m.tb {
    width: 200px;
    left: auto;
    right: 0;
  }

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    padding-inline: 32px;

    .logo {
      width: 60px;
      line-height: 0;

      @include m.tb {
        display: none;
      }
    }

    .menu {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include m.tb {
        flex-direction: column;
        margin-left: auto;
      }

      nav {
        margin-right: 16px;

        @include m.tb {
          z-index: 1100;
          display: none;
        }

        ul {
          display: flex;
          justify-content: space-between;

          @include m.tb {
            text-align: center;
            flex-direction: column;
          }

          li {
            margin-right: 16px;

            @include m.tb {
              margin-right: 0;
              margin-bottom: 24px;
            }

            &:last-child {
              margin-right: 0;
            }

            a {
              &:hover {
                color: m.$base-color;

                @include m.tb {
                  opacity: .5;
                }
              }

              @include m.tb {
                color: m.$base-color;
              }
            }
          }
        }
      }

      .sns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        li {
          width: 20px;
          line-height: 0;
          transition: .3s ease;
          margin-right: 16px;

          &:last-child {
            margin-right: 0;
          }

          &:hover {
            opacity: .5;
          }
        }

        .tb-instagram,
        .tb-tel {
          display: none;
        }
      }

      .nav-logo {
        width: 80%;
        display: none;
        margin-top: 24px;
        margin-inline: auto;
      }
    }

    .toggle {
      width: 30px;
      height: 40px;
      display: none;
      cursor: pointer;
      position: relative;
      z-index: 1100;

      @include m.tb {
        display: block;
      }

      &:hover {
        span {
          &:nth-child(1) {
            width: 100%;
          }
          
          &:nth-child(2) {
            width: 100%;
          }
        }
      }

      span {
        height: 1px;
        border-radius: 1px;
        background-color: m.$font-color;
        transition: 0.3s ease;
        position: absolute;

        &:nth-child(1) {
          width: 15px;
          top: 30%;
          right: 0;
          animation: toggle-bar-01 .75s forwards;
        }
        &:nth-child(2) {
          width: 20px;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          opacity: 1;
        }
        &:nth-child(3) {
          width: 100%;
          right: 0;
          top: 70%;
          animation: toggle-bar-03 .75s forwards;
        }
      }
    }

    .mask {
      width: 350px;
      height: 500px;
      background-color: rgba(255, 255, 255, 0.9);
      border-radius: 30px;
      position: absolute;
      top: 5%;
      right: 5%;
      display: none;
      z-index: 1050;

      @include m.sp {
        width: 200px;
        height: 400px;
      }
    }
  }

  &.active {
    .menu {
      width: 350px;
      position: fixed;
      top: 10%;
      right: 2%;
      z-index: 1100;

      @include m.sp {
        width: 200px;
      }

      nav {
        display: block;

        @include m.tb {
          margin-right: 0;
        }
      }

      .sns {
        .instagram,
        .tel {
          @include m.tb {
            display: none;
          }
        }
        
        .tb-instagram,
        .tb-tel {
          display: block;
        }
      }

      .nav-logo {
        display: block;
      }
    }

    .toggle {
      position: absolute;
      top: 30%;
      right: 20%;

      &:hover {
        span {
          opacity: .5;
        }
      }

      span {
        background-color: m.$base-color;
        &:nth-child(1) {
          width: 100%;
          animation: active-bar-01 .75s forwards;
        }
        
        &:nth-child(2) {
          opacity: 0;
        }
        
        &:nth-child(3) {
          animation: active-bar-03 .75s forwards;
        }
      }
    }

    .mask {
      display: block;
    }
  }
}

// toggle-bar  animation
@keyframes toggle-bar-01 {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0);
    top: 50%;
  }
  100% {
    transform: rotate(0);
    top: 30%;
  }
}
@keyframes toggle-bar-03 {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(0);
    top: 50%;
  }
  100% {
    transform: rotate(0);
    top: 70%;
  }
}

// active-bar  animation
@keyframes active-bar-01 {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(0);
    top: 50%;
  }
  100% {
    transform: rotate(45deg);
    top: 50%;
  }
}

@keyframes active-bar-03 {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(0);
    top: 50%;
  }
  100% {
    transform: rotate(-45deg);
    top: 50%;
  }
}