@use '_mixin' as m;

header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 16px;
  left: 0;
  right: 0;
  padding-inline: 15px;
  z-index: 1000;

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba( 255, 255, 255, .5);
    border-radius: 30px;
    padding-inline: 32px;

    .logo {
      width: 60px;
    }

    .menu {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include m.tb {
        width: 50%;
        flex-direction: column;
        margin-left: auto;
        position: fixed;
        top: 10%;
        right: 5%;
        z-index: 1100;
      }

      nav {
        margin-right: 16px;

        @include m.tb {
          z-index: 1100;
          display: none;
        }
        
        ul {
          display: flex;
          justify-content: space-between;

          @include m.tb {
            text-align: center;
            flex-direction: column;
          }
          
          li {
            margin-right: 16px;

            @include m.tb {
              margin-right: 0;
              margin-bottom: 24px;
            }
            
            &:last-child {
              margin-right: 0;
            }
            
            a {
              &:hover {
                color: m.$base-color;
              }

              @include m.tb{
                color: m.$base-color;
              }
            }
          }

        }
      }
      
      .sns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        li {
          width: 20px;
          line-height: 0;
          margin-right: 16px;
          
          &:last-child {
            margin-right: 0;
          }
        }
        
        .instagram,
        .tel {
          @include m.tb {
            display: none;
          }
        }
        
        .tb-instagram,
        .tb-tel {
          display: none;
          
          @include m.tb {
            display: block;
            // text-align: center;
          }
        }
      }

      .nav-logo {
        display: none;
      }
    }

    .toggle {
      width: 30px;
      height: 40px;
      display: none;
      cursor: pointer;
      position: relative;
      z-index: 1100;

      @include m.tb {
        display: block;
      }

      span {
        height: 1px;
        background-color: m.$font-color;
        transition: .3s ease;
        position: absolute;

        &:nth-child(1) {
          width: 15px;
          top: 30%;
          right: 0;
        }
        &:nth-child(2) {
          width: 20px;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
        }
        &:nth-child(3) {
          width: 100%;
          right: 0;
          bottom: 30%;
        }
      }
    }
    
    .mask {
      width: 50%;
      height: 500px;
      background-color: rgba( 255, 255, 255, .9);
      border-radius: 30px;
      position: absolute;
      top: 5%;
      right: 5%;
      display: none;
      z-index: 1050;
    }
  }

  &.active {
    .menu {
      nav {
        display: block;
      }
      
      .nav-logo {
        display: block;
      }
    }

    .toggle {
      position: absolute;
      top: 10%;
      right: 10%;
      
      span {
        background-color: m.$base-color;
        &:nth-child(1) {
          width: 100%;
          transform: rotate(45deg);
          top: 50%;
        }

        &:nth-child(2) {
          display: none;
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
          top: 50%;
        }
      }
    }

    .mask {
      display: block;
    }
  }
}