@use 'mixin' as m;

#page-link {
  text-align: center;
  margin-bottom: m.$bottom;

  @include m.tb-sm {
    margin-bottom: 28px;
  }

  .wrapper {
    a {
      width: 200px;
      border: 1px solid m.$accent-color;
      border-radius: 10px;
      box-shadow: m.$shadow;
      margin-right: 30px;
      padding: 5px;

      &:last-child {
        margin-right: 0;
      }

      @include m.tb-sm {
        margin-bottom: 20px;
        margin-right: 0;
      }

      &:hover {
        background-color: rgba(255, 255, 255, .1);
      }
    }
  }
}