@use '_mixin' as m;

#top {

  .mainvisual {
    height: calc(100vh - 50px);
    margin-top: 50px;

    @include m.tb {
      height: calc(50vh - 100px);
    }

    @include m.sp {
      margin-top: 96px;
    }

    .container {
      height: 100%;
      text-align: center;
      position: relative;

      img {
        width: 700px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        @include m.tb {
          width: 430px;
        }

        @include m.sp {
          width: 270px;
        }
      }

      .fv-1 {
        opacity: 0;
        animation: fadeUp-fv1 2.5s ease forwards;

      }
      
      .fv-2 {
        opacity: 0;
        clip-path: inset(0 100% 0 0);
        transition: clip-path 2s cubic-bezier(0.37, 0, 0.63, 1),opacity 0.6s ease;

        &.is-show {
          opacity: 1;
          clip-path: inset(0 0 0 0);
        }
      }

      .fv-name-en {
        font-size: 3.2rem;
        filter: blur(0.7px);
        position: absolute;
        top: 38%;
        left: 50%;
        transform: translateX(-50%);

        @include m.tb {
          font-size: 2.4rem;
          filter: blur(0.3px);
          top: 20%;
        }

        @include m.sp {
          font-size: 1.6rem;
          filter: blur(0px);
          top: 35%;
        }

        span {
          display: inline-block;
          opacity: 0;
          animation: fadeUp 1s ease forwards;
        }
      }
    }

    .scrollbar_box {
      position: absolute;
      left: 20px;
      bottom: 10px;

      @include m.tb {
        display: none;
      }

      .scrollbar-text {
        display: inline-block;
        color: m.$font-color;
        font-size: m.$fs-small;
        writing-mode: vertical-lr;
        transform: translateX(-40%);
        padding: 10px 10px 50px;
      }

      .scrollbar {        
        &::after {
          width: .5px;
          height: 50px;
          content: "";
          background: m.$font-color;
          position: absolute;
          left: 3px;
          bottom: 0;
        }

        &::before {
          width: 8px;
          height: 8px;
          content: "";
          position: absolute;
          left: -1px;
          bottom: 0;
          border-radius: 50%;
          background: m.$font-color;
          animation: circlemove 3s ease-in-out infinite, cirlemovehide 3s ease-out infinite;
        }
      }
    }
  }

  #info {
    text-align: center;
    padding-inline: m.$padding;
    margin-top: m.$bottom;

    .wrapper {
      border: 1px solid m.$accent-color;
      border-radius: 30px;
      padding: m.$bottom-sp;

      .info-title {
        margin-bottom: 32px;
      }

      .info-block {
        margin-bottom: 32px;

        h3 {
          font-size: 1.8rem;
          margin-bottom: 16px;
        }

        p {
          span {
            display: inline-block;
            font-size: m.$fs-small;
            color: m.$accent-color;
          }
        }

        .sns {
          margin-top: 16px;
        }
      }
    }
  }

  #alcohol {
    text-align: right;
    padding-top: m.$bottom;
    margin-bottom: m.$bottom;

    .alcohol-list {
      text-align: left;

      .left,
      .right {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: m.$bottom;

        @include m.tb {
          flex-direction: column;
        }

        .alcohol-img {
          width: 60%;

          @include m.tb {
            width: 90%;
          }

          @include m.sp {
            width: 100%;
          }
        }
        
        .text {
          width: 60%;
          background-color: rgba(5, 78, 112, .8);
          position: absolute;
          top: 20%;
          padding: 40px 48px;

          @include m.tb {
            width: 80%;
            position: static;
            padding: 0;
            margin-top: 24px;
          }

          @include m.sp {
            width: 100%;
          }

          h3 {
            position: relative;
            color: m.$font-color;
            margin-bottom: 16px;

            span {
              display: inline-block;
              position: absolute;
              top: -13px;
              left: 0;
              font-size: m.$fs-small;
              color: m.$accent-color;
            }
          }

          p {
            margin-bottom: 16px;
          }

          .feature {

            .feature-list {
              list-style: inside;
              list-style-type: disc;
            }
          }
        }

        .frame {
          width: 100px;
          position: absolute;
          bottom: -40px;

          @include m.sp {
            width: 70px;
            top: 0;
            bottom: auto;
            transform: rotate(270deg);
          }
        }
      }

      .left {
        .text {
          right: 0;
        }

        .frame {
          right: 0;
        }
      }

      .right {
        flex-direction: row-reverse;

        @include m.tb {
          flex-direction: column-reverse;
        }

        .text {
          left: 0;
        }

        .frame {
          left: 0;
          transform: rotate(90deg);

          @include m.tb {
            left: auto;
            right: 0;
            transform: rotate(0deg);
          }

          @include m.sp {
            left: 0;
            right: auto;
            transform: rotate(-180deg);
          }
        }
      }
    }

    .link {
      position: relative;
      overflow: hidden;
      padding: 10px;
      
      &:hover::after {
        background-color: m.$accent-color;
      }
      
      &::after {
        width: 95px;
        height: .5px;
        content: "";
        position: absolute;
        left: 10px;
        bottom: 6px;
        background-color: m.$font-color;
      }

      &::before {
        width: 8px;
        height: 8px;
        content: "";
        position: absolute;
        bottom: 2.5px;
        background-color: m.$font-color;
        border-radius: 50%;
        animation: circlemove-2 3s ease-in-out infinite, cirlemovehide-2 3s ease-out infinite;
      }
    }
  }

  #gallery {
    text-align: center;

    .gallery-title {
      margin-bottom: m.$bottom-sp;
    }

    .gallery-lists {
      display: grid;
      grid-template-columns: repeat( 3, 1fr);

      @include m.sp {
        grid-template-columns: repeat( 2,1fr);
      }

      li {
        overflow: hidden;
        
        &:hover img {
          transform: scale(1.05);
        }
        
        img {
          height: 100%;
          transition: .3s ease;
        }
      }
    }
  }
}

@keyframes fadeUp {
  to {
    opacity: 1;
  }
}

@keyframes fadeUp-fv1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes circlemove {
  0% {
    bottom: 45px;
  }
  100% {
    bottom: 0px;
  }
}

@keyframes cirlemovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

@keyframes circlemove-2 {
  0% {
    left: 10px;
  }
  100% {
    left: 90px;
  }
}

@keyframes cirlemovehide-2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

// @keyframes arrowFlow {
//   0% {
//     transform: translate(-100px, -50%);
//     opacity: 0;
//   }
//   30% {
//     opacity: 1;
//   }
//   70% {
//     opacity: 1;
//   }
//   100% {
//     transform: translate(40px, -50%);
//     opacity: 0;
//   }
// }